{% extends 'base.html' %}
{% load static %}
{% block meta-description %}
 {% if category %}
   {{category.description|truncatewords:155}}
 {% else %}
    Welcome to EYRA BOUTIQUE
 {% endif %}
{% endblock %}

{% block title %}
 {% if category %}
   {{product.name}}-EYRA BOUTIQUE
 {% else %}
    See our new collections
 {% endif %}
{% endblock %}

{% block content %}

<div>
    <div>
        <p>
            <a href="{% url 'shop:allprodcat' %}">Home</a> | <a href="{{product.category.get_url}}">{{product.category}}</a> | {{product.name}}
        </p>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <div style="min-width:18rem">
                <img src="{{product.img.url}}" alt="{{product.name}}" class="prod-image">
            </div>

        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <h1 class="my_prod_title ">{{product.name}}</h1>
            <p>${{product.price}}</p>
            <p class="my_title">Product description</p>
            <p class="text-justify my_prod_text">{{product.desc}}</p>

             {% if product.stock <= 0 %}
             <p class="text-justify my_prod_text"><b>OUT OF STOCK </b></p>
              {% else %}
              <a class="btn btn-secondary" href="{% url 'cart:add_cart' product.id  %}">Add to cart</a>
              {% endif %}
        </div>
    </div>
</div>
{% endblock %}